/* roboto-regular - latin_cyrillic */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local(''), url('../fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin_cyrillic */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local(''), url('../fonts/roboto-v29-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../fonts/roboto-v29-latin_cyrillic-500.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	max-width: 1920px;
	margin: 0 auto;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #727272;
}

.wrapper {
	padding: 0 20px;
	max-width: 1140px;
	margin: 0 auto;
}

.wrapper__full {
	max-width: 1920px;
	margin: 0 auto;
}

.wrapper__540px {
	margin: 0 auto;
	max-width: 540px;
	padding: 112px 0 110px;
}

/* Header styles start */

.header {
	padding-top: 63px;
	padding-bottom: 128px;
	background-color: #EEEFF1;
}

.header__wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.header__list {
	display: flex;
	flex-wrap: wrap;
}

.header__item {
	margin-right: 42px;
}

.header__item:last-child {
	margin-right: 0;
}

.header__link {
	letter-spacing: 0.1em;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}

.header__link:active, .header__link:hover, header_link:focus {
	color: #34547A;
	font-weight: 500;
}

.header__burger {
	display: none;
	width: 50px;
	height: 35px;
	position: relative;
}

.burger__line {
	display: block;
	width: 100%;
	height: 5px;
	background-color: #34547A;
	position: absolute;
	left: 0;
}

.burger__line_first {
	top: 0;
}

.burger__line_second {
	top: 50%;
	transform: translateY(-50%);
}

.burger__line_third {
	bottom: 0;
}

/* Header styles end */

/* Intro styles start */

.intro {
	background-color: #EEEFF1;
	filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.25));
	padding-bottom: 157px;
}

.intro__module {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 7.27%;
}

.intro__pic {
	padding-top: 2px;
	padding-bottom: 40px;
	max-width: 100%;
}

.intro__desc {
	/* padding-left: 131px; */
}

.intro__desc-title {
	font-weight: 500;
	font-size: 48px;
	line-height: 40px;
	color: #000000;
	margin-bottom: 60px;
}

.intro__desc-subtitle {
	max-width: 540px;
	margin-bottom: 50px;
	line-height: 26.25px;
}

.button__write-me {
	border: 0;
	padding: 25px 41px;
	background: #34547A;
	letter-spacing: 0.1em;
	color: white;
	text-transform: uppercase;
}

/* Intro styles end */

/* About-me section start*/

.about-me__wrapper {
	margin: 0 auto;
	max-width: 540px;
	padding: 112px 0 110px;
}

.about-me__title {
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	color: #000000;
	margin-bottom: 50px;
}

.about-me__subtitle {
	text-align: center;
}

/* About-me section end*/

/* Projects section start */

.projects {
	background: #34547A;
}

.project__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 100px 0 70px;
	color: white;
	gap: 30px;
}

.project__card {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 30px;
}

.project__card-img {
	padding-right: 20px;
}

.project__card-text {
	align-items: flex-end;
	justify-content: end;
}

.project__card-num {
	font-weight: 500;
	font-size: 21px;
	line-height: 25px;
}

/* Projects section end */

/* Proficiency section start */

.proficiency__wrapper {
	/* padding: 0 20px; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-width: 1150px;
	margin: 102px auto 101px;
}

.proficiency__list {
	width: 445px;
}

.proficiency__title {
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	color: #000000;
	margin-bottom: 50px;
}

.proficiency__subtitle {
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 20px;
	position: relative;
}

.proficiency__subtitle::after {
	display: block;
	position: absolute;
	content: '';
	width: 78.6%;
	height: 4px;
	background-color: #34547A;
	bottom: 0;
	left: 0;
	transform: rotate(-0.06deg);
}

.proficiency__subtitle::before {
	display: block;
	position: absolute;
	content: '';
	width: 21.4%;
	height: 4px;
	background-color: #C4C4C4;
	bottom: 0;
	left: 78.6%;
	transform: rotate(-0.06deg);
}

.proficiency__photo {
	max-width: 100%;
}

/* Proficiency section end */

/* Video section start*/

.video {
	background: #EEEFF1;
	padding-top: 100px;
}

.video__text-wrapper {
	margin: 0 auto;
	max-width: 540px;
	margin-bottom: 57px;
}

.video__text-title {
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	color: #000000;
	margin-bottom: 50px;
}

.video__text-subtitle {
	text-align: center;
}

.videos__wrapper {
	max-width: 1110px;
	margin: 0 auto 28px;
	padding-bottom: 100px;
}

.video__item {
	padding-top: 56.25%;
	position: relative;
}

.video__element {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Video section end*/

/* Pictures section start */

.pictures__cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0px;
}

.pictures__card {
	grid-column: span 1;
	position: relative;
}

.pictures__card:hover:before {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background: no-repeat center url(../img/svg/eye-ico.svg), rgba(52, 84, 122, 0.8);
	background-size: 21%;
	z-index: 2;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pictures__card-pic {
	object-fit: cover;
	width: 100%;
}

/* Pictures section end */

/* Microsoft section start */

.work__elements {
	margin: 72px 0 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.work__element {
	max-width: 100%;
}

/* Microsoft section end */

/* Request form section start */

.request-form {
	background-color: #EEEFF1;
	text-align: center;
}

.form__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.request-form__field {
	top: 0;
	border: none;
	font-size: 14px;
	line-height: 15px;
	color: #5F5D5D;
	padding: 17px 20px 16px;
	margin-bottom: 20px;
	font-family: 'Roboto';
}

.request-form__field_sm {
	width: 47.2%;
}

.request-form__field_lg {
	width: 100%;
	height: 175px;
	margin-bottom: 50px;
}

.request-form__submit {
	width: 190px;
	font-size: 14px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.15em;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	background: #34547A;
	border: 0;
}

/* Request form section end */

/* Footer section start*/

.footer {
	color: #FFFFFF;
	background: #34547A;
}

.footer__item {
	padding: 50px 0;
}

.footer__copyright-name {
	font-weight: 500;
	font-size: 21px;
	line-height: 25px;
	margin-bottom: 20px;
}

.footer__copyright-rights {
	font-size: 13px;
	line-height: 21px;
}

.footer__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.footer__vc-link_img {
	padding-left: 21.87px;
}

/* Footer section end*/

@media screen and (max-width: 1150px) {
	.wrapper {
		padding: 0 20px;
	}
	.intro__desc-title {
		/* font-weight: 500; */
		/* font-size: 48px; */
		/* line-height: 50px; */
		/* color: #000000; */
		/* margin-bottom: 60px; */
	}
}

@media screen and (max-width: 767px) {
	.header {
		padding-bottom: 60px;
	}
	.header__wrapper {
		padding-top: 20px;
	}
	.header__logo {
		/* padding-bottom: 20px; */
	}
	.header__burger {
		display: block;
	}
	.header__nav {
		position: fixed;
		width: 70%;
		height: 100%;
		top: 0;
		right: 0;
		/* background-color: white; */
		background-color: rgba(255, 255, 255, 0.95);
		z-index: 10;
		padding: 40px 40px 60px;
		display: none;
	}
	.header__nav_active {
		display: block;
	}
	.header__item {
		width: 100%;
		margin-right: 0;
		/* margin-bottom: 30px; */
		border-bottom: 1px solid rgba(0, 0, 0, 0.26);
	}
	.header__link {
		font-size: 1.5em;
		line-height: 2em;
		letter-spacing: 0.1em;
		color: #34547A;
		text-decoration: none;
		text-transform: uppercase;
	}
	.header__nav-close {
		width: 40px;
		height: 40px;
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 11;
	}
	.header__nav-close-line {
		display: block;
		width: 100%;
		height: 5px;
		background-color: #34547A;
		position: absolute;
		top: 50%;
	}
	.header__nav-close-line:first-child {
		transform: translateY(-50%) rotate(45deg);
	}
	.header__nav-close-line:last-child {
		transform: translateY(-50%) rotate(-45deg);
	}
	.intro {
		padding-bottom: 60px;
	}
	.intro__module {
		text-align: center;
		justify-content: center;
		padding-left: 0;
	}
	.about-me__wrapper {
		padding: 60px 20px;
	}
	.proficiency__wrapper {
		justify-content: center;
		margin: 102px auto 0;
	}
	.proficiency__list {
		padding: 0 20px;
	}
	.proficiency__photo {
		/* order: 1; */
  }
	.video__text-wrapper {
		padding: 60px 20px 20px;

	}
	.videos__wrapper {
		margin: 0 auto;
		padding-bottom: 60px;
	}
	.pictures__card {
		grid-column: span 2;
	}
	.work__elements {
		margin: 20px 0;
		justify-content: center;
	}
	.wrapper__540px {
		padding: 60px 0;
	}
	.footer__item {
		padding: 40px;
		justify-content: center;
		text-align: center;
	}
	.footer__copyright-name {
		margin-bottom: 5px;
	}
	.footer__copyright-rights {
		margin-bottom: 5px;
	}
}